### Data Quality & Validation

This notebook performs data cleaning, validation, and business-rule checks
on merged primary care appointment data before loading into the staging schema.

- Imports Lybrary

In [4]:
import pandas as pd
from pathlib import Path

- Load data

In [5]:
PROJECT_ROOT = Path("..")
DATA_PROCESSED = PROJECT_ROOT / "data" / "processed"

df = pd.read_csv(DATA_PROCESSED / "appointments_all.csv")

Inspect structure

In [6]:
df.head()

,appointment_id,appointment_date,appointment_age_group,appointment_type,appointment_status,wait_time_days,consultation_duration_minutes,staff_role,clinic_location,outcome_category,source_period,appointment_uid
0,1,7/18/2023,50-64,GP Consultation,Cancelled,41.0,59.95,Practice Nurse,Community Centre,Further Tests Required,2023_2,2023_2_1
1,2,12/24/2023,18-34,Chronic Care Review,No-Show,9.0,36.13,Locum GP,Main Practice,Further Tests Required,2023_2,2023_2_2
2,3,12/9/2023,18-34,GP Consultation,Rescheduled,NaN,58.21,Locum GP,Main Practice,Medication Prescribed,2023_2,2023_2_3
3,4,12/24/2023,0-17,GP Consultation,Rescheduled,43.0,56.68,Practice Nurse,Main Practice,Further Tests Required,2023_2,2023_2_4
4,5,9/25/2023,65+,Follow-up,Completed,29.0,19.45,Healthcare Assistant,Branch Clinic,Further Tests Required,2023_2,2023_2_5

In [7]:
df.shape

(5000, 12)

In [8]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   appointment_id                 5000 non-null   int64
 1   appointment_date               5000 non-null   object
 2   appointment_age_group          5000 non-null   object
 3   appointment_type               5000 non-null   object
 4   appointment_status             5000 non-null   object
 5   wait_time_days                 4603 non-null   float64
 6   consultation_duration_minutes  4699 non-null   float64
 7   staff_role                     5000 non-null   object
 8   clinic_location                5000 non-null   object
 9   outcome_category               4295 non-null   object
 10  source_period                  5000 non-null   object
 11  appointment_uid                5000 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 468.9+ KB

Index(['appointment_id', 'appointment_date', 'appointment_age_group',
       'appointment_type', 'appointment_status', 'wait_time_days',
       'consultation_duration_minutes', 'staff_role', 'clinic_location',
       'outcome_category', 'source_period', 'appointment_uid'],
      dtype='object')

#### Data Cleaning

- Duplicate Detection & Removal

In [9]:
df["appointment_uid"].is_unique

True

In [10]:
print(df.duplicated(["appointment_uid"]).sum())
duplicates = df[df.duplicated(subset=["appointment_uid"], keep=False)]
duplicates.sort_values(by="appointment_uid")

0

Empty DataFrame
Columns: [appointment_id, appointment_date, appointment_age_group, appointment_type, appointment_status, wait_time_days, consultation_duration_minutes, staff_role, clinic_location, outcome_category, source_period, appointment_uid]
Index: []

In [11]:
# Remove duplicate if exist
df = df.drop_duplicates(["appointment_uid"])

In [12]:
assert df["appointment_uid"].is_unique

In [13]:
suspect = df.duplicated(
    subset=[
        "appointment_date",
        "appointment_type",
        "staff_role",
        "clinic_location"
    ],
    keep=False
)
suspect.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [14]:
# Remove duplicate if exist
df_cleaned = df.drop_duplicates(
    subset=[
        "appointment_date", 
        "appointment_type", 
        "staff_role", 
        "clinic_location"
    ], 
    keep='first'
)

- Convert appointment_date

In [15]:
df["appointment_date"] = pd.to_datetime(
    df["appointment_date"], errors="coerce"
).dt.date
df["appointment_date"].head()

0    2023-07-18
1    2023-12-24
2    2023-12-09
3    2023-12-24
4    2023-09-25
Name: appointment_date, dtype: object

- Standardize categorical values (status, type, staff role, location)

In [16]:
cat_cols = [
    "appointment_status",
    "appointment_type",
    "staff_role",
    "clinic_location"
]

for col in cat_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.strip()
        .str.title()
    )
df[cat_cols].head(10)

,appointment_status,appointment_type,staff_role,clinic_location
0,Cancelled,Gp Consultation,Practice Nurse,Community Centre
1,No-Show,Chronic Care Review,Locum Gp,Main Practice
2,Rescheduled,Gp Consultation,Locum Gp,Main Practice
3,Rescheduled,Gp Consultation,Practice Nurse,Main Practice
4,Completed,Follow-Up,Healthcare Assistant,Branch Clinic
5,Cancelled,Nurse Visit,Healthcare Assistant,Community Centre
6,Rescheduled,Gp Consultation,Healthcare Assistant,Main Practice
7,Cancelled,Nurse Visit,Practice Nurse,Main Practice
8,No-Show,Nurse Visit,Practice Nurse,Community Centre
9,No-Show,Gp Consultation,Locum Gp,Branch Clinic

- Appointment Status Validation

In [17]:
df["appointment_status"].value_counts()

appointment_status
Cancelled      1279
Rescheduled    1255
Completed      1254
No-Show        1212
Name: count, dtype: int64

In [18]:
allowed_status = {
    "Completed",
    "Cancelled",
    "No-Show",
    "Rescheduled"
}

In [19]:
df = df[df["appointment_status"].isin(allowed_status)]

In [20]:
df["appointment_age_group"].value_counts()

appointment_age_group
18-34    1032
65+      1015
0-17     1014
50-64     984
35-49     955
Name: count, dtype: int64

- Numeric Validation

In [21]:
df = df[df["wait_time_days"] >= 0]

In [22]:
df = df[
    (df["consultation_duration_minutes"].isna()) |
    (
        (df["consultation_duration_minutes"] >= 5) &
        (df["consultation_duration_minutes"] <= 180)
    )
]

In [23]:
required_cols = [
    "appointment_date",
    "appointment_type",
    "appointment_status",
    "staff_role",
    "clinic_location"
]

df = df.dropna(subset=required_cols)

In [24]:
df.info()
df.describe(include="object")
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 4603 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   appointment_id                 4603 non-null   int64
 1   appointment_date               4603 non-null   object
 2   appointment_age_group          4603 non-null   object
 3   appointment_type               4603 non-null   object
 4   appointment_status             4603 non-null   object
 5   wait_time_days                 4603 non-null   float64
 6   consultation_duration_minutes  4326 non-null   float64
 7   staff_role                     4603 non-null   object
 8   clinic_location                4603 non-null   object
 9   outcome_category               3957 non-null   object
 10  source_period                  4603 non-null   object
 11  appointment_uid                4603 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 467.5+ KB

       appointment_id  wait_time_days  consultation_duration_minutes
count     4603.000000     4603.000000                    4326.000000
mean       500.336085       22.642624                      32.335497
std        289.082698       13.273173                      16.008342
min          1.000000        0.000000                       5.010000
25%        250.500000       11.000000                      18.550000
50%        500.000000       23.000000                      32.380000
75%        752.000000       34.000000                      46.115000
max       1000.000000       45.000000                      60.000000

- save data

In [25]:
df.to_csv(
    DATA_PROCESSED / "appointments_clean.csv",
    index=False
)

In [26]:
pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\rdira_08\anaconda3\envs\primary-care-analystics\lib\site-packages (2.0.45)
Requirement already satisfied: psycopg2-binary in c:\users\rdira_08\anaconda3\envs\primary-care-analystics\lib\site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in c:\users\rdira_08\anaconda3\envs\primary-care-analystics\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rdira_08\anaconda3\envs\primary-care-analystics\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from sqlalchemy import create_engine

DB_USER = "postgres"
DB_PASSWORD = "Rdira9908##"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "primary_care_analytics"

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [30]:
df = pd.read_csv("../data/processed/appointments_clean.csv")

In [31]:
df.head()

,appointment_id,appointment_date,appointment_age_group,appointment_type,appointment_status,wait_time_days,consultation_duration_minutes,staff_role,clinic_location,outcome_category,source_period,appointment_uid
0,1,2023-07-18,50-64,Gp Consultation,Cancelled,41.0,59.95,Practice Nurse,Community Centre,Further Tests Required,2023_2,2023_2_1
1,2,2023-12-24,18-34,Chronic Care Review,No-Show,9.0,36.13,Locum Gp,Main Practice,Further Tests Required,2023_2,2023_2_2
2,4,2023-12-24,0-17,Gp Consultation,Rescheduled,43.0,56.68,Practice Nurse,Main Practice,Further Tests Required,2023_2,2023_2_4
3,5,2023-09-25,65+,Follow-Up,Completed,29.0,19.45,Healthcare Assistant,Branch Clinic,Further Tests Required,2023_2,2023_2_5
4,6,2023-07-31,0-17,Nurse Visit,Cancelled,31.0,18.53,Healthcare Assistant,Community Centre,Referral Issued,2023_2,2023_2_6

In [32]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:Rdira9908##@localhost:5432/primary_care_analytics"
)

In [36]:
df.to_sql(
    name="appointments",
    con=engine,
    schema="staging",
    if_exists="append", 
    index=False
)

603